{{#partial "content"}}

    hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
    {{#if users}}
        {{#each users}}
            <p>Name:{{name}}</p>
            <p>position:{{position}}</p>
            <p> Role:{{role}}</p>



        {{/each}}
    {{/if}}
{{else}}
    no dEPART!!!!
{{/partial}}

{{> layout.hbs}}