{{#partial "content"}}

    <h2>Operation done successfully.</h2>
    <a href="/new">Go back to the homepage</a>
    </div>


    <style>
        body{
/*         background-image:url("https://st2.depositphotos.com/7865540/10807/i/950/depositphotos_108070294-stock-photo-business-desk-concept.jpg"); */
background-image:url("https://images.unsplash.com/photo-1548126466-4470dfd3a209?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");

        background-size: cover;
        background-repeat: no-repeat;
/*         color:white; */
        font-family: 'Lobster', cursive;
        }
        h1,h2{
        text-align:center;
        }
        h1{
        height: 80%;
        }
        </style>
{{/partial}}

{{> layout.hbs}}